<div class="row">
  <div class="col">
    <h3>{{cartItem.item.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p><span class="section-category"><b>Section:</b></span> {{cartItem.item.section}}</p>
  </div>
  <div class="col">
    <p><span class="section-category"><b>Category:</b></span> {{cartItem.item.category}}</p>
  </div>
</div>
<div class="row">
  <rating ng-model="rating.rate" max="rating.max"></rating>
</div>
<div class="row">
  <div class="col-50">
    <img class="responsiveItemImg" ng-src="{{cartItem.item.picto}}" />
  </div>
  <div class="col-50">
    <ngcart-addtocart id="{{cartItem.item.id}}" name="{{cartItem.item.name}}" price="{{cartItem.item.price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
  </div>
</div>
<div class="row" ng-if="vm.detailed">
    <p>{{cartItem.item.description}}</p>
</div>