/* Empty. Add your own CSS if you like */

hr {
    margin:40px 0;
}

h3 {
  color:#1758AA
}

h3 span {
  font-size:14px; 
  display:block;
}

span[ng-click] {
  cursor: pointer;
}

.responsiveItemImg {
  max-width:150px;
}

p {
  text-align: justify;
}

.row.unlimited-items {
  -webkit-flex-wrap: wrap; /* for safari */
  flex-wrap: wrap;
}

.section-category {
  font-size: 14px;
  color:#1758AA;
}

.col {
  margin-bottom: 0px;
}

.header .col-25 {
  background-color:#D3D3D3;
}

/* SIDEBAR */

  .title {
    text-align: center;
    font-size: 20px;
    /* color:#1758AA; */
  }

  .menu-header {
    background-color: white;
  }

/* CART SUMMARY */

  /* ICONIZING IMAGE  */
  .iconImage {
    width: 64px;
    height: 64px;
  }

  /* STRIPED TABLE */
  .evenRow {
    background-color:#E6E6FA;
  }

  .oddRow {
    background-color:#F0FFF0;
  }

/* glyphicons sizes */

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

/* AVATAR IMG */
.user_avatar {
  position: absolute;
  top: 16px;
  left: 16px;
  /* max-width: 41px; */
  max-height: 40px;
  width: 200%;
  height: 100%;
  border-radius: 50%;
  border-style: solid;
  border-color: lightslategrey;
  border-width: 1px;
}

/* TEXT COLOR */
.blue-text {
  color:#0C60EE;
}