<div class="row">
  <div class="col">
    <h3>{{onSaleItem.item.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p><span class="section-category"><b>Section:</b></span> {{onSaleItem.item.section}}</p>
  </div>
  <div class="col">
    <p><span class="section-category"><b>Category:</b></span> {{onSaleItem.item.category}}</p>
  </div>
</div>
<div class="row">
  <rating ng-model="rating.rate" max="rating.max"></rating>
</div>
<div class="row">
  <div class="col-50">
    <img class="responsiveItemImg" ng-src="{{onSaleItem.item.picto}}" ng-click="onSaleItem.manageClickOnImage()"/>
  </div>
  <div class="col-50">
    <ngcart-addtocart id="{{onSaleItem.item.id}}" name="{{onSaleItem.item.name}}" price="{{onSaleItem.item.price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
  </div>
</div>
<div class="row" ng-if="onSaleItem.detailed">
    <p>{{onSaleItem.item.description}}</p>
</div>