<div class="row unlimited-items responsive-md" ng-if="myOrdersDetail.user">
    <h4>Shipment Address</h4>
	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label blue-text">Address</span>
            {{myOrdersDetail.user.address.address}}
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label blue-text">Postal code</span>
			{{myOrdersDetail.user.address.postalCode}}
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label blue-text">City</span>
			{{myOrdersDetail.user.address.city}}
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label blue-text">Country</span>
			{{myOrdersDetail.user.address.country}}
		</label>
	</div>
    
    <h4>Products</h4>
  
    <div ng-repeat="item in myOrdersDetail.items track by item.id">
        <a class="item item-thumbnail-left">
            <img ng-src="{{item.picto}}" ui-sref="app.itemDetail({itemId: item.id})" class="iconImage"/>
            
            <h2 class="blue-positive">{{item.name}}</h2>
            <p>${{item.price}}</p>

        </a>
    </div>

    <h4>Total</h4>
	<div class="list red">
        {{total}}

	</div>

</div>