<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="no-text" >
      </ion-nav-back-button>
      
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <button ng-if="showHomeButton()" ng-click="manageGoHome()" class="button button-icon button-clear icon ion-home"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-if="showCartButton()" class="button button-icon button-clear icon ion-android-cart" ui-sref="app.cartResume"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-nav-view name="content"></ion-nav-view>
    
    <ion-header-bar class="bar-subheader bar-positive item-input-inset" ng-if="showSubheader()">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
      <button class="button button-stable" ui-sref="app.login"><b>Login</b></button>
    </ion-header-bar>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-nav-view name="sidebar"></ion-nav-view>
  </ion-side-menu>  
</ion-side-menus>
