<ion-content class="sidebar" has-bouncing="false" scroll="false">
  <div class="menu-header">
    <div class="title">
      <span>Sidebar</span>
    </div>
  </div>
  <ion-content has-bouncing="false" scroll="false">
    <ion-list class="list">
      <ion-item class="item item-icon-left" menu-close>
        <i class="icon ion-bag"></i>
        <a ui-sref="app.myOrders">My Orders</a>
      </ion-item>
      <ion-item class="item item-icon-left" menu-close>
        <i class="icon ion-person"></i>
        <a ui-sref="app.myProfile">My Profile</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>  