<ion-side-menu class="sidebar" >
  <ion-header-bar class="bar-stable">
    <h1 class="title">Sidebar</h1>
  </ion-header-bar>
  <ion-content class="list">
    <ion-list>
      <ion-item class="item item-icon-left" ui-sref="app.myOrders" menu-close>
        <i class="icon ion-bag"></i>
        My Orders
      </ion-item>
      <ion-item class="item item-icon-left" ui-sref="app.myProfile" menu-close>
        <i class="icon ion-person"></i>
        My Profile
      </ion-item>
    </ion-list>
  </ion-content>
</ion-side-menu>  